body {
    background-color: rgb(250, 250, 250)
}

tr.row1 {
    background-color: rgb(240, 240, 240)
}

span#title {
    font-size: xx-large
}

table#main {
    border: 1px solid rgb(220, 220, 220);
    background-color: rgb(255, 255, 255)
}

td.unbreak {
    white-space: nowrap;
    text-align: center
}

td.transferring {
    background-color: rgb(30%,90%,30%)
}

td.queued {
    background-color: rgb(100%,100%,20%)
}

td.failed {
    background-color: rgb(90%,30%,30%)
}

p.muted {
    color: rgb(100,100,100);
    display:inline
}

p.channel {
    font-family:Sans-serif;
    font-size:0.7em;
    border: 1px solid rgb(25%,25%,25%);
    background-color: rgb(70%,70%,70%);
    color: rgb(0%,0%,0%);
    margin-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    display:inline
}
