html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    overflow: hidden;
    background-color: rgb(250, 250, 250)
}

tr.row1 {
    background-color: rgb(240, 240, 240)
}

table#main {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 220, 220);
    height: 85%;
    text-align: left;
    margin-left: auto;
    margin-right: auto
}

span#title {
    font-size: xx-large
}

div#settings, div#sidesections {
    border-left: 1px dotted rgb(153, 153, 153)
}

td.panel {
    vertical-align: top;
    height: 100%
}

td.ulined {
    border-bottom: 1px solid rgb(153, 153, 153)
}

div#leftframe {
    width: 200px;
    height: 100%;
    overflow: hidden
}

div#settings, div#sidesections, div.sett-sect, div.help-sect {
    width: 350px;
    height: 100%;
    overflow: auto
}

div#leftframe, div.sett-sect {
    text-align: center
}

div.add-button, div.add-field, div.sett-sect, div.help-sect {
    position: absolute;
    left: 0px;
    top: 0px
}

div.add-button {
    width: 100%
}

div.add-field, div.sett-sect {
    display: none
}
