<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Refresh" content="$time; url=$url">
</head>
<body bgcolor="#FFFFFF">
$text
</body>
</html>
